extends base

mixin oneArticle(article)
  li
    p=article.title
    - var decodedArticleHtml = decodeURIComponent(article.content)
    p !{decodedArticleHtml}
    h2 Image
    if article.coverImage
      div
        != article.coverImage
    else
      p No featured image



block content 
  h1 Welcome
  ul
    each article in articles
      +oneArticle(article)
    